<div class="row">
  <p>
    <button class="btn btn-primary" ng-click="docVm.doGoBackToListView()">Back to list</button>
  </p>
  <div class="col-md-6 well eng-area" ng-if="docVm.hasFileToShow()">
    <h3>{{ docVm.fileName }}</h3>
    <h4>(English)</h4>
    <!-- <p>
      {{ docVm.fileData }}
    </p> -->
    <p ng-repeat="fileData in docVm.splitFileData track by $index">
      {{ fileData }}
    </p>
  </div>

  <div class="col-md-6 well zom-area" ng-if="docVm.hasFileToShow()">
    <h3>{{ docVm.fileNameInZombie }}</h3>
    <h4>(Zombified)</h4>
    <!-- <p>
      {{ docVm.fileDataInZombie }}
    </p> -->
    <p ng-repeat="fileData in docVm.splitFileDataInZombie track by $index">
      {{ fileData }}
    </p>
  </div>
</div>
